<h1> Send in your user info here:</h1>
form method="POST" action="/
 First: <input name="name"
 Last name: <input name="lname"
 Email: <input name= "email"
 Avatar pic URL: <input name= "picurl"> <br><br>
 Birthday: <input name="bday"><br><br><br>
 
<form>
    <input type="submit"
</form>
