<h1 style="font-size: 1em;"> Code along survey</h1>
<form method="POST" action="/"style="color:#A23BEC;"> 
 First: <input name="fname"><br><br>
 Last name: <input name="lname"><br><br>
 Email: <input name="email"><br><br>
 Creative picture: <input name="img"> <br><br>
 Birthday: <input name="bday"><br><br>
    <input type="submit">
</form>
