<!DOCTYPE html>
<html>
  <head>
    <title>Word Counter</title>
    <link rel="stylesheet" type="text/css" href="stylesheets/bootstrap.css">
    <link rel="stylesheet" type="text/css" href="stylesheets/dashboard.css">
    <link href='https://fonts.googleapis.com/css?family=Dancing+Script' rel='stylesheet' type='text/css'>
  </head>

  <body style="font-family: 'Dancing Script', cursive; font-family: 'Dancing Script', cursive; font-size: 2em;
   <div class="container">
      <%= yield %>
    </div>
  </body>
</html>